<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
    <title>main</title>
</head>
<body style="background: #211510;">
    <div id="button">
        <a id="button_link" href="/board/join">
            <div id="button_inner">
                <h2>회원가입</h2>
            </div>
        </a>
    </div>
    <div id="button">
        <a id="button_link" href="/board/login">
            <div id="button_inner">
                <h2>로그인</h2>
            </div>
        </a>
    </div>
</body>
</html>